<h2 class="mt-4 mb-4">Users</h2>
<!-- <button (click)="addUser({firstName: 'Mary', lastName: 'Williams', isActive: true, hide: true})" [disabled]="!enableAdd" class="btn btn-light btn-block mb-3"><b><i class="fa fa-plus" aria-hidden="true"></i>Add New User</b></button> -->
<button (click)="showUserForm = !showUserForm" class="btn btn-light btn-block mb-3"><b><i class="fa fa-plus" aria-hidden="true"></i>Add New User</b></button>

<div class="card card-body mb-3" *ngIf="showUserForm">
    <h3>User Details :</h3>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" [(ngModel)]="user.firstName" [ngClass]="{'is-invalid': userFirstName.errors && userFirstName.touched}" #userFirstName="ngModel" class="form-control" name="firstName" required minlength="5">
            <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">First name required</div>
            <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">Must have at least 5 characters</div>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" [(ngModel)]="user.lastName" [ngClass]="{'is-invalid': userLastName.errors && userLastName.touched}" #userLastName="ngModel" class="form-control" name="lastName" required minlength="5">
            <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">Last name required</div>
            <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">Must have at least 5 characters</div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" [(ngModel)]="user.email" [ngClass]="{'is-invalid': userEmail.errors && userEmail.touched}" #userEmail="ngModel" class="form-control" name="email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
            <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">Email is required</div>
            <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">Valid email address required</div>
        </div>
        <button [disabled]="!userForm.form.valid" class="btn btn-light btn-block mb-3"><b>Add User</b></button>
    </form>
</div>

<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
    <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive">
        <h3>{{ user.firstName }} {{ user.lastName }} <small (click)="user.hide = !user.hide" *ngIf="user.email"><i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'" aria-hidden="true"></i></small></h3>
        <ul class="list-group" *ngIf="!user.hide">
            <li class="list-group-item">Email: {{ user.email }}</li>
            <li class="list-group-item">Joined: {{ user.registered | date:"medium" }}</li>
        </ul>
    </li>
</ul>

<h4 *ngIf="users?.length == 0">No Users Found</h4>

<h4 *ngIf="!loaded">Loading Users...</h4>